<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
        <link href="service/contact.css" rel='stylesheet' type='text/css' />
    <link href="css/home.css" rel='stylesheet' type='text/css' />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:800" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <title>Cuts By De'Meco</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#"><img src="https://i.pinimg.com/originals/2c/9c/ee/2c9ceecf2365f963bd305a10f513fe73.jpg" style="width: 70px;"> </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:8080/home">Home </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:8080/ourServices">Our Services</a>
                </li>

                <li class="nav-item">
                    <a href="http://localhost:8080/service" class="nav-link">Book Now</a>
                </li>

                <li class="nav-item active">
                    <a class="nav-link" href="#">Contact Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:8080/appointment">Appointments<span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </nav>
    <h2 class="h1-responsive font-weight-bold text-center my-4">Contact us</h2>
    <p class="text-center w-responsive mx-auto mb-5">Do you have any questions? Please do not hesitate to contact us directly. Our team will come back to you within
        a matter of hours to help you.</p>
   
    <div class="container">

        <div class="row">

            <div class="col-lg-8 col-lg-offset-2">


                <form id="contact-form" method="post" action="" role="form">

                    <div class="messages"></div>

                    <div class="controls">

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="form_name">Firstname *</label>
                                    <input id="form_name" type="text" name="name" class="form-control"
                                        placeholder="Please enter your firstname *" required="required"
                                        data-error="Firstname is required.">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="form_lastname">Lastname *</label>
                                    <input id="form_lastname" type="text" name="surname" class="form-control"
                                        placeholder="Please enter your lastname *" required="required"
                                        data-error="Lastname is required.">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="form_email">Email *</label>
                                    <input id="form_email" type="email" name="email" class="form-control"
                                        placeholder="Please enter your email *" required="required"
                                        data-error="Valid email is required.">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="form_phone">Phone *</label>
                                    <input id="form_phone" type="tel" name="phone" class="form-control"
                                        placeholder="Please enter your phone">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="form_message">Message *</label>
                                    <textarea id="form_message" name="message" class="form-control"
                                        placeholder="Message for me *" rows="4" required
                                        data-error="Please,leave us a message."></textarea>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <center>
                                <input type="submit" style="text-align: center" class="btn btn-secondary" value="Send message">
                                </center>
                            </div>
                        </div>

                    </div>

                </form>

            </div>

        </div>

    </div>
    <br></br>
    <div id="confirm"></div>
</body>
<script>
    document.addEventListener("DOMContentLoaded", () => {
        const theForm = document.getElementById("contact-form");
        theForm.addEventListener("submit", (event) => {
            event.preventDefault();
            let firstName = document.getElementById("form_name").value;
            let lastName = document.getElementById("form_lastname").value;
            let email = document.getElementById("form_email").value;
            let phone = document.getElementById("form_phone").value;
            let message = document.getElementById("form_message").value;
           
            fetch('http://localhost:3000/contacts', {
                method: "post",
                headers: {

                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    firstName: firstName,
                    lastName: lastName,
                    email: email,
                    phone: phone,
                    message: message,
                })
            })
                .then(res => res.json())
                .then(response => {
                    let html = '';
                    html += `<h6>  Thank you ${response.firstName}, your message has been received. </h6>`;
                    const messageContainer = document.getElementById("confirm");
                    messageContainer.innerHTML = html;
                }).catch(error => console.error('Error:', error));
                $('#contact-form').get(0).reset();
        })
    })

</script>

</html>