/* .btn-primary.custom-btn {
	background-color: #000;
	border-color: #000;
}

.barber {
        background-image: url('https://thefader-res.cloudinary.com/private_images/w_1440,c_limit,f_auto,q_auto:best/40380002_WEB_gmcgws/levels-barbershop-new-york-ny.jpg');
        display: block;
        margin: 0 auto;
        text-indent: -9999px;
        width: 2080px;
        height: 580px;
}

.jumbotron{
    background-color:  grey;
}
.footer {
    color:grey;
    font: italic 12px/30px Arial;
    position: fixed;
    width: 100%;
    float: left;
    bottom: 0;
    padding-bottom: 2px;
    min-height: 43px;
    background: black;
}
#toServices:hover { background: red; } */

div.jumbotron {
    background-color: darkcyan;
}

.jumbotron h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 3.5em;
}

.jumbotron p {
    color: #fff;
    font-size: 1.5em;
}

li.nav-item {
    padding: 20px;
    font-size: 18px;
    font-weight: 700;
}
/* a.nav-link:hover {
    background-color: darkcyan !important;
    color: #fff !important;
} */

body>div.container-fluid {
    background-image: url('https://www.yesmagazine.org/issues/mental-health/what-is-barbershop-therapy-20180823/confessproject_primary.jpg/image');
    width: 100vw;
    height: 100vh;
}


.book-btn {

    margin: 0 auto;
    float: none;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -100px;
        padding: 30px;
        opacity: 0.9;
}