input[type=date]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
}

#calender {
    display: none
}

#container-contact100 {
    display: none
}

#time {
    display: block;
    width: 100px;
    height: 50px;
    color: blue;
    background-color: lightskyblue;
    margin: 3px;
}

