<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="service.css" rel='stylesheet' type='text/css' />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.js"></script>
    <title>Cuts By De'Meco</title>
</head>

<body>

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">
                <center>Cuts By De'Meco</center>
            </h1>
            <p class="lead">
                <center>Gentlemen's Cuts For Affordable Prices. </center>
            </p>

        </div>
    </div>
    <form id="barberForm" action="" method="post">
        <div id="name" class="container">
            <h1>
                <center>Select a Service</center>
            </h1>
            <% for(var i = 0; i < response.length; i++) { %>
            <input id="service" type="radio" name="service" value="<%= response[i]._id %>">
            <span class="checkmark"></span>
            <span id="serviceName" class="item-price"> <%= response[i].name %> </span>
            <span id="price" class="item-price"> <%= response[i].price %> </span>
            <span id="time" class="item-price"> <%= response[i].time %> </span>
            <% } %>
        </div>

        <div class="row justify-content-center">
            <button id="serviceBtn" type="submit" class="btn-primary.custom-btn">Continue</button>
        </div>

        <div id="calender">
            <input id="date" onchange="calender()" type="date" name="appointmentDate" min="2019-04-09">
            <div id="apptTime" onclick="customerInfo()"></div>
        </div>
        <div id="container-contact100">
            <div class="wrap-contact100">
                <span class="contact100-form-title">
                    Enter Customer Information
                </span>

                <div class="wrap-input100  bg1">
                    <span class="label-input100">FULL NAME *</span>
                    <input class="input100" id="customerName" type="text" name="name" placeholder="Enter Your Name" required>
                </div>

                <div class="wrap-input100  bg1 rs1-wrap-input100">
                    <span class="label-input100">Email *</span>
                    <input class="input100" type="text" name="email" id="email" placeholder="Enter Your Email" required>
                </div>

                <div class="wrap-input100 bg1 rs1-wrap-input100">
                    <span class="label-input100">Phone *</span>
                    <input class="input100" id="phone" type="text" name="phone" placeholder="Enter Number Phone" required>
                </div>
            </div>
            <button type="submit" onclick="booked()" value="Book"> Book </button>
        </div>
            <div id="confirm"></div>
    </form>
</body>
<script src="service.js"></script>
<script>
    var times;
    fetch('http://localhost:3000/times/')
        .then(res => res.json())
        .then(response => {
            times = response
        })
        .catch(error => console.error('Error:', error));
    const calender = () => {
        const calenderData = document.getElementById("date").value;
        const dateTimestamp = moment(calenderData, 'YYYY-MM-DD').unix()
        fetch('http://localhost:3000/appointments/' + dateTimestamp, {
            method: "GET",
            headers: {
                'Content-Type': 'application/json',
            },
        })
            .then(res => res.json())
            .then(response => {
                for (var i = 0; i < response.length; i++) {
                    const bookedTime = response[i].startTime
                }
                const apptTaken = response.map((booked) => booked.startTime);
                const timeOnly = times.map((time) => time.startTime);
                const eligibleAppts = timeOnly.filter(start => {
                    return !apptTaken.includes(start)
                })
                var radioHtml = '';
                for (var i = 0; i < eligibleAppts.length; i++) {
                    radioHtml += `<input type="radio" id="startTime" name="startTime" value="${eligibleAppts[i]}">`;
                    radioHtml += `<span>  ${eligibleAppts[i]} </span>`;
                    radioHtml += '</input>';
                }
                const timeContainer = document.getElementById("apptTime");
                timeContainer.innerHTML = radioHtml;
            })
            .catch(error => console.error('Error:', error));
    }
</script>
<script>
    document.addEventListener("DOMContentLoaded", () => {
        const theForm = document.getElementById("barberForm");
        theForm.addEventListener("submit", (event) => {
            event.preventDefault();
            let name = document.getElementById("customerName").value;
            let phone = document.getElementById("phone").value;
            let email = document.getElementById("email").value;
            let appointmentDate = document.getElementById("date").value;
            let startTime = document.getElementById("startTime").value;
            let service = document.getElementById("service").value;

            fetch('http://localhost:3000/appointments', {
                method: "post",
                headers: {

                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    name: name,
                    phone: phone,
                    email: email,
                    appointmentDate: appointmentDate,
                    startTime: startTime,
                    service: service
                })
            })
                .then(res => res.json())
                .then(response => {
                    const dateString = moment.unix(response.appointmentDate).format('YYYY-MM-DD');
                    let html = '';
                    html += `<p>  Thank you for Booking ${response.name}! </p>`;
                    html += `<p>  Your Appointment is on: ${dateString} at ${response.startTime}  </p>`;
                    const customerContainer = document.getElementById("confirm");
                    customerContainer.innerHTML = html;
                }).catch(error => console.error('Error:', error));

        })
    })

</script>


</html>